# Exploratory Data Analysis on NBA

## Source of Data:- Basketball Reference

In [1]:
#For this project, we will use the data for the years 1991-2022 
years = list(range(1991,2023))

### Now, taking the URL and storing it into a variable

In [2]:
url_start= "https://www.basketball-reference.com/awards/awards_{}.html"

### Downloading the HTML pages from the source

In [3]:
import requests

for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    
    with open("mvp/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text)

We have now downloaded the HTML pages from the source and saved it in a folder named data.

### Extracting the specific table from the HTML pages

We will use BeautifulSoup library of the bs4 package

In [4]:
from bs4 import BeautifulSoup

Now we will extract the MVP table from all the pages

In [5]:
import pandas as pd

Extracting mvp table from the year 1991

In [6]:
with open("mvp/1991.html", "r", encoding="utf-8") as f:
    page = f.read()

In [7]:
soup = BeautifulSoup(page, "html.parser")

In [8]:
soup.find('tr', class_="over_header").decompose()

In [9]:
mvp_table = soup.find(id="mvp")

In [10]:
mvp = pd.read_html(str(mvp_table))[0]

Since it worked successfully, now we will do the same for every year

In [11]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year), "r", encoding="utf-8") as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find(id="mvp")
    mvp = pd.read_html(str(mvp_table))[0]
    mvp["year"] = year
    
    dfs.append(mvp)

In [12]:
mvps = pd.concat(dfs)

In [13]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [14]:
mvps.to_csv("mvps.csv")

### Getting player stats from the webpage

In [15]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\akcoo\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\akcoo\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\akcoo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\akcoo\anaconda3\lib\site-packages (from selenium) (1.26.6)
Requirement already satisfied: sniffio in c:\users\akcoo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\akcoo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\akcoo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\akcoo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\akcoo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\akcoo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\akcoo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\akcoo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\akcoo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\akcoo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\akcoo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\akcoo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\akcoo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: six>=1.5.2 in c:\users\akcoo\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\akcoo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [16]:
from selenium import webdriver

In [17]:
driver = webdriver.Edge(executable_path="msedgedriver")

In [22]:
import time

player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"
url = player_stats_url.format(1991)

driver.get(url)
driver.execute_script("window.scrollTo(1,10000)")
time.sleep(2)

html = driver.page_source

In [24]:
for year in years:
    url = player_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(5)
    
    html = driver.page_source
    with open("player/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(html)

In [25]:
df2 = []
for year in years:
    with open("player/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()

    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find(id="per_game_stats")
    player = pd.read_html(str(player_table))[0]
    player["year"] = year
    
    df2.append(player)

In [28]:
players = pd.concat(df2)

In [32]:
players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3,2022
837,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4,2022
838,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3,2022
839,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2,2022
840,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3,2022

In [31]:
players.to_csv("players.csv")

In [33]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}.html"

In [34]:
for year in years:
    url = team_stats_url.format(year)
    
    data = requests.get(url)
    
    with open("team/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(data.text)

In [37]:
dfs = []
for year in years:
    with open("team/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()

    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find(id="divs_standings_E")
    team = pd.read_html(str(team_table))[0]
    team["year"] = year
    team["Team"] = team["Eastern Conference"]
    del team["Eastern Conference"]
    dfs.append(team)

    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find(id="divs_standings_W")
    team = pd.read_html(str(team_table))[0]
    team["year"] = year
    team["Team"] = team["Western Conference"]
    del team["Western Conference"]
    dfs.append(team)

In [38]:
teams = pd.concat(dfs)
teams

     W   L  W/L%    GB   PS/G   PA/G    SRS  year                       Team
0   56  26  .683     â€”  111.5  105.7   5.22  1991            Boston Celtics*
1   44  38  .537  12.0  105.4  105.6  -0.39  1991        Philadelphia 76ers*
2   39  43  .476  17.0  103.1  103.3  -0.43  1991           New York Knicks*
3   30  52  .366  26.0  101.4  106.4  -4.84  1991         Washington Bullets
4   26  56  .317  30.0  102.9  107.5  -4.53  1991            New Jersey Nets
..  ..  ..   ...   ...    ...    ...    ...   ...                        ...
13  56  26  .683     â€”  115.6  109.9   5.37  2022     Memphis Grizzlies*Â (2)
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*Â (4)
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*Â (9)
16  34  48  .415  22.0  113.2  113.0   0.02  2022     San Antonio SpursÂ (10)
17  20  62  .244  36.0  109.7  118.2  -8.26  2022       Houston RocketsÂ (15)

[1068 rows x 9 columns]

In [39]:
teams.to_csv("teams.csv")